:root{
    --ciemny: navy;
    --jasny: azure;
}

.nagłowek{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 15vh;
    background-color: navy;
    justify-content: flex-end;
}

.nawi{
    width: 99vw;
    height: 5vh;
    background-color: yellow;
}

.nagłowek p{
    color: white;
    width: auto;
    font-family: Arial;
    font-size: auto;
}